@import './mixins';

body {
    @include defaultText();
    background-color: rgba(138, 150, 135, 0.13);
}

.wrapper-ui{
    width: 300px;
    margin: auto;
    margin: 150px auto;
    .text-wrap {
        word-break: break-word;
    }
    .stepper {
        @include stepper();
        .btn-actions {
            text-align: center;
            margin-top: 24px;
            margin-bottom: 12px;
        }
        .stepper-wrapper{
            .stepper-panel {
                .title-stepper {
                    display: inline-block;
                }
                .spinner {
                    margin-left: 10px;
                    margin-top: 5px;
                }
                .alert-danger {
                    font-weight: 500;
                }
            }
            .textfield, .selectfield {
                @include defaultText();
                width: 80% !important;
                display: inline-block !important;
            }
            .resend-code {
                cursor: pointer;
                &:hover {
                    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
                }
            }
        }
    }
}
